body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('background.png') no-repeat center / cover;
  min-height: 100vh;
}

@font-face {
    src: url('fonts/Exo2.0-Thin.otf');
    font-family: "Exo 2.0- Thin";
}
@font-face {
    src: url('fonts/Trebuchet MS.ttf');
    font-family: "Trebuchet MS";
}
